<!-- Head Top -->
<%- include ("../../components/headTop.ejs") %>

<!-- Meta [Start] -->
<title>SEO Services In India | Professional SEO Company India</title>
<meta name="title" content=" SEO Services In India | Professional SEO Company India">
<meta name="description" content="As a leading PPC and SEO services provider in India, SEO Advantage works with your business and company to increase your website's search engine rankings.">
<meta name="author" content="Scalelot Technologies">
<meta name="copyright" content="Scalelot Technologies">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index,follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
<meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
<meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
<meta name="Googlebot-Video" content="max-video-preview:-1">
<meta name="yahoobot" content="index, follow" />
<meta name="msnbot" content="index,follow" />
<meta name="rating" content="general">
<meta name="keywords" content="SEO Services In India, Professional SEO Company India">
<meta property="og:title" content="SEO Services In India | Professional SEO Company India">
<meta property="og:site_name" content="Scalelot Technologies">
<meta property="og:url" content="https://scalelot.com/services/digital-marketing/seo,">
<meta property="og:description" content="As a leading PPC and SEO services provider in India, SEO Advantage works with your business and company to increase your website's search engine rankings.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://scalelot.com/assets/images/scalelot-logo.svg">
<meta property="og:image:width" content="850"/>
<meta property="og:image:height" content="850"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="SEO Services In India | Professional SEO Company India">
<meta name="twitter:site" content="@ScalelotT"> <meta name="twitter:creator" content="@ScalelotT"/>
<meta name="twitter:description" content="As a leading PPC and SEO services provider in India, SEO Advantage works with your business and company to increase your website's search engine rankings.">
<meta name="twitter:image" content="https://scalelot.com/assets/images/scalelot-logo.svg">
<meta name="twitter:image:alt" content="Professional SEO Company In India">
<link rel="canonical" href="https://scalelot.com/services/digital-marketing/seo"/>
<!-- Meta [End] -->

<!-- Head Bottom -->
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://scalelot.com/"},{"@type":"ListItem","position":2,"name":"Services","item":"https://scalelot.com/services"},{"@type":"ListItem","position":3,"name":"Digital Marketing","item":"https://scalelot.com/services/digital-marketing"},{"@type":"ListItem","position":4,"name":"SEO Services","item":"https://scalelot.com/services/digital-marketing/seo"}]}</script>
<%- include ("../../components/headBot.ejs") %>

<!--SEO Services section home -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9">
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-full md:w-3/5 order-2 md:order-1 mt-5 md:mt-0">
        <h1>Leading SEO Services Company</h1>
        <p class="py-2">We are a seo marketing company that provides seo services including on-page, off-page, link building, backlinking, and other services. Our SEO specialist team has expertise in it.</p>        
        <!-- EXP Bar -->
        <%- include ("../../components/exp_bar.ejs") %>
        <div class="mt-7 md:pt-0">
          <button onclick="window.location='/contact-us'" type="button" class="btn-border text-current border-current group anim rounded-full border">
            <span class="bleft anim group-hover:left-0"></span>
            Get Free Quote
            <span class="bright anim group-hover:-right-full"></span>
          </button>
        </div>
      </div>
      <div class="w-full md:w-2/5  order-1 md:order-2 ">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/digital-marketing/seo-services/light/seo-services.svg" alt="SEO Services" class="block mx-auto dark:hidden">
          <img src="/assets/images/digital-marketing/seo-services/dark/seo-marketing.svg" alt="SEO Marketing" class="hidden mx-auto dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- expert team section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-left font-pop">We are expert in <span class="text-scalelot-secondary font-jos">SEO Services</span></h2>
    <div class="flex py-1.5 pt-10">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Upgrade your business with our SEO <a href="/services" class="font-extrabold">services</a>, and SEO strategies, and meet your business goal.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">We dominate the cutthroat competition and reach your goal organically.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">We are experts in SEO Services, deliver data-driven optimization, run analytics and evaluate the everyday status.</p>
    </div>
    <div class="flex py-1.5">
      <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
      <p class="group-hover:text-white anim">Give us an opportunity to serve you to fix the goal for achieving the optimum reach.</p>
    </div>
  </div>
</section>
<!-- Development services section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-center font-pop pb-5 md:pb-10">SEO Services</h2>
    <div class="w-full flex items-center justify-center space-x-7 md:hidden mt-3.5">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center lg:py-10 py-5">
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-on-page-seo text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">On-page SEO</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Relevant keyword research
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  On page content optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Section headers (H1-H6)
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  URLs structure for website
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create schema for website
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create title, meta, Og, and twitter card.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-off-page-seo text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Off-page SEO</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Brand Mentions
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Influencer Outreach
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Contribute as Guest Author
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Social Bookmarking Sites
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  We can do Forum, Directory, Article, Video, Image, Infographics Submission,   Question and Answer, Document Sharing and
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Press Release.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-technical-seo text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Technical SEO</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Indexation
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Website speed optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Website site architecture
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  URLs redirects
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Structures markup
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create an XML sitemap
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-local-seo text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">Local SEO</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create Google My Business Listing and Optimize it.
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Create backlinks from authoritative site
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Mobile friendly website
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Anchor text optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Online reviews and testimonials
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-development text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">App Store Optimization</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App title optimization with keyword
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App description optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App keyword optimization
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  competitive analysis
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App listing
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  App analytics report(ASO tool integrated report
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-3/6 xl:w-4/12 md:p-3 my-3 md:my-0">
          <div class="relative bg-white dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap p-6 lg:p-9 anim overflow-hidden">
            <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45  bg-white dark:opacity-0 dark:group-hover:opacity-10 opacity-10 right-full block delay-150 group-hover:-right-9"></span>
            <div class="">
              <div class="flex items-center mb-6">
                <div class="">
                  <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one relative img transform anim bg-blue-100">
                    <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-youtube-seo text-scalelot-primary"></span>
                  </div>
                </div>
                <div class="">
                  <h5 class="font-pop group-hover:text-white pl-5">YouTube SEO</h5>
                </div>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Optimize Video Title & Description
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Optimize YouTube Video Tags
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Include An Attractive Custom Thumbnail
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Include One Or More Cards To Increase Watch Time
                </p>
              </div>
              <div class="flex py-1.5">
                <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
                <p class="group-hover:text-white anim">
                  Use video hashtags to drive YouTube search results
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-0 md:mt-7">
      <button onclick="window.location='/contact-us'" type="button" class="btn-border text-current border-current group anim rounded-full border">
        <span class="bleft anim group-hover:left-0"></span>
        Get Free Quote
        <span class="bright anim group-hover:-right-full"></span>
      </button>
    </div>
  </div>
</section>
<!-- Why Choose scalelot section -->
<%- include ("../../components/why_choose.ejs") %>

<!-- contact us  -->
<%- include ("../../components/lets_talk.ejs") %>