<!-- Head Top -->
<%- include ("components/headTop.ejs") %>

<!-- Meta [Start] -->

<!-- Meta [End] -->

<!-- Head Bottom -->
<%- include ("components/headBot.ejs") %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
