<!-- Head Top -->
<%- include ("../components/headTop.ejs") %>

<!-- Meta [Start] -->

<!-- Meta [End] -->

<!-- Head Bottom -->
<%- include ("../components/headBot.ejs") %>

<!-- Hire Android Developer -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto flex flex-wrap items-center px-5 lg:px-9">
    <div class="w-full lg:w-5/12 lg:order-2 pb-12 lg:pb-0 relative">
      <img src="/assets/images/hire-angular-dedicated-developer.webp" alt="Hire Android Dedicated Developer" class="w-full">
      <img src="/assets/images/svg/android.svg" alt="Hire Dedicated Developers From Scalelot" class="absolute w-[10%] top-[10%] left-[27%]">
    </div>
    <div class="w-full lg:w-7/12 lg:order-1 space-y-4">
      <h1>Hire Dedicated Android Developer</h1>
      <p>Our fully equipped and highly experienced team of android developers build
        business-grade android app solutions for various industries verticals. Get
        end-to-end support from concept, design, development, and maintenance. Hire
        dedicated Android developers from Scalelot to get cost-effective customized
        services with outstanding user experience. You will get Android UI/UX design,
        Android app integration, IoT app development along with support and
        maintenance.</p>
      <div class="flex lg:pr-14 md:space-x-7 xl:space-x-16 pt-4 xl:pt-10">
        <div class="w-1/3 md:w-auto text-scalelot-gray dark:text-white text-center space-y-2">
          <span class="text-2xl md:text-4xl xl:text-5xl">150+</span>  
          <p class="text-base xl:text-lg leading-5 lg:leading-6 xl:leading-8">Completed Projects</p>
        </div>
        <div class="w-1/3 md:w-auto text-scalelot-gray dark:text-white text-center space-y-2">
          <span class="text-2xl md:text-4xl xl:text-5xl">02+</span>  
          <p class="text-base xl:text-lg leading-5 lg:leading-6 xl:leading-8">Years Of Experience</p>
        </div>
        <div class="w-1/3 md:w-auto text-scalelot-gray dark:text-white text-center space-y-2">
          <span class="text-2xl md:text-4xl xl:text-5xl">30+</span>  
          <p class="text-base xl:text-lg leading-5 lg:leading-6 xl:leading-8">It Experts Team</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Hire From Us? -->
<%- include ("../components/why_hire_from_us.ejs") %>
<!-- We are expert Developers. -->
<section class="overflow-hidden">
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <div class="w-full flex flex-wrap md:-mx-7">
      <div class="w-full lg:w-1/2 lg:px-7 mb-8 md:mb-0">
        <h2 class="text-2xl md:text-3xl xl:text-4xl lg:pb-5">Android Development Services</h2>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Our android developers do everything, including android Version Migration, when needed.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Attractive android application increases user experience manifold.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Android mobile app development has versatile functionalities.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span> 
          <p class="group-hover:text-white anim">Unique interface design meets your expectations.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span> 
          <p class="group-hover:text-white anim">All credit goes to the angular programmer, and their best coding skills make it possible.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 lg:px-7">
        <h2 class="text-2xl md:text-3xl xl:text-4xl lg:pb-5">We are expert iPhone Developers.</h2>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Best for startups and big enterprises, as we incorporate advanced technologies and develop business solutions for the next generation.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Our talented and experienced professionals take a deep dive into your business requirements, and analyze and recommend the best solutions to streamline your business.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">The entire Scalelot team follows an agile methodology for software development and embraces the successful ideas of iterative approach and incremental development.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span> 
          <p class="group-hover:text-white anim">Our team ensures the function output, device compatibility, and optimum performance throughout the lifecycle of the project.</p>
        </div>
        <div class="flex py-1 md:py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span> 
          <p class="group-hover:text-white anim">We build a reputation in the global market on quality services, providing live project reports, affordability, and timely delivery.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Hiring Process -->
<%- include ("../components/our_hiring_process.ejs") %>
<!-- What Our Clients Say section -->
<section>
  <div class="max-w-screen-2xl mx-auto flex flex-wrap items-center px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <div class="max-w-7xl mx-auto space-y-7 lg:space-y-8 xl:space-y-12">
      <h1 class="text-center w-full">What Our Clients Say</h1>
      <div class="max-w-xs md:max-w-2xl xl:max-w-7xl w-full mx-auto">
        <div class="swiper clientsSay">
          <div class="swiper-wrapper mb-6">
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g data-name="Group 80" transform="translate(0 0.004)">
                        <g data-name="Group 79" transform="translate(0 0)">
                          <path data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g data-name="Group 82" transform="translate(29.359)">
                        <g data-name="Group 81" transform="translate(0 0)">
                          <path data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g data-name="Group 80" transform="translate(0 0.004)">
                        <g data-name="Group 79" transform="translate(0 0)">
                          <path data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g data-name="Group 82" transform="translate(29.359)">
                        <g data-name="Group 81" transform="translate(0 0)">
                          <path data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available,</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g data-name="Group 80" transform="translate(0 0.004)">
                        <g data-name="Group 79" transform="translate(0 0)">
                          <path data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g data-name="Group 82" transform="translate(29.359)">
                        <g data-name="Group 81" transform="translate(0 0)">
                          <path data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g data-name="Group 80" transform="translate(0 0.004)">
                        <g data-name="Group 79" transform="translate(0 0)">
                          <path data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g data-name="Group 82" transform="translate(29.359)">
                        <g data-name="Group 81" transform="translate(0 0)">
                          <path data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clientsSay-pagination -mb-2"></div>
        </div>
      </div>
      <div class="text-center w-full">
        <a href="blog.html" class="btn-arrow group">
          <span class="">
            <span class="anim group-hover:w-24 bg-slate-50 dark:bg-scalelot-darkPlus">read more</span>
            <svg class="anim group-hover:ml-0" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
              <g data-name="Group 540" transform="translate(-20 -127.369)">
                <g data-name="Group 541" transform="translate(0 127.369)">
                  <g " data-name="Group 540" transform="translate(0 0)">
                    <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" class="fill-current" ></path>
                  </g>
                </g>
              </g>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Hire Form -->
<%- include ("../components/hire_form.ejs") %>