<!-- Head Top -->
<%- include ("../components/headTop.ejs") %>

<!-- Meta [Start] -->
<title>Sales Funnels Design Company In India | Scalelot Technologies</title>
<meta name="title" content=" Sales Funnels Design Company In India | Scalelot Technologies">
<meta name="description" content="Improve your reach and engagement with existing and new customers. Scalelot Technologies is the best experience sales funnels design company in India.">
<meta name="author" content="Scalelot Technologies">
<meta name="copyright" content="Scalelot Technologies">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index,follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
<meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
<meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
<meta name="Googlebot-Video" content="max-video-preview:-1">
<meta name="yahoobot" content="index, follow" />
<meta name="msnbot" content="index,follow" />
<meta name="rating" content="general">
<meta name="keywords" content="Sales Funnels Design Company In India">
<meta property="og:title" content="Sales Funnels Design Company In India | Scalelot Technologies">
<meta property="og:site_name" content="Scalelot Technologies">
<meta property="og:url" content="https://scalelot.com/services/sales-funnels-design">
<meta property="og:description" content="Improve your reach and engagement with existing and new customers. Scalelot Technologies is the best experience sales funnels design company in India.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://scalelot.com/assets/images/scalelot-logo.svg">
<meta property="og:image:width" content="850"/>
<meta property="og:image:height" content="850"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Sales Funnels Design Company In India | Scalelot Technologies">
<meta name="twitter:site" content="@ScalelotT"> 
<meta name="twitter:creator" content="@ScalelotT"/>
<meta name="twitter:description" content="Improve your reach and engagement with existing and new customers. Scalelot Technologies is the best experience sales funnels design company in India.">
<meta name="twitter:image" content="https://scalelot.com/assets/images/scalelot-logo.svg">
<meta name="twitter:image:alt" content="Sales Funnels Design Company In India">
<link rel="canonical" href="https://scalelot.com/services/sales-funnels-design"/>
<!-- Meta [End] -->

<!-- Head Bottom -->
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://scalelot.com/"},{"@type":"ListItem","position":2,"name":"Services","item":"https://scalelot.com/services"},{"@type":"ListItem","position":3,"name":"Sales Funnels","item":"https://scalelot.com/services/sales-funnels-design"}]}</script>
<%- include ("../components/headBot.ejs") %>

<!-- Best Web Development Company -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto flex flex-wrap px-5 lg:px-9 items-center">
    <div class="flex justify-between flex-wrap items-center">
      <div class="w-full lg:w-5/12 lg:order-2 pb-5 md:pb-12 lg:pb-0">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/services/web-development/light/web-development.svg" alt="" class="block dark:hidden">
          <img src="/assets/images/services/web-development/dark/web-development.svg" alt="" class="hidden dark:block">
        </div>
      </div>
      <div class="w-full lg:w-7/12 lg:order-1 pr-0 md:pr-10 space-y-4">
        <h1 class="text-3xl xl:text-4xl 2xl:text-5xl">Let us elevate Your Sales With High Converting Sales funnels, Landing page, Opt-in pages</h1>
        <p class="py-2">Sales funnel design tool that is used to track the leads for the betterment of the company.  Our professionals understand the requirement of sales funnel that will organize your sales and marketing efforts. The sales funnel normally consists of three parts- Top, Middle, and Bottom.</p>
        <p class="py-2">We will make every customer understand the importance of the sales funnel and we ensure that our guidance will help in building the best path so that customers will opt for more products from your company.</p>
        <div class="pt-0 md:pt-5">
          <button onclick="window.location='/contact-us'" type="button" class="btn-border text-current border-current group anim rounded-full border">
            <span class="bleft anim group-hover:left-0"></span>
            Get Free Quote
            <span class="bright anim group-hover:-right-full"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Technology Stack -->
<section class="py-12 lg:py-16 xl:py-24 2xl:py-28">
  <div class="flex flex-col md:flex-row md:items-center bg-white dark:bg-scalelot-dark">
    <div class="text-center md:text-left px-5 lg:px-9">
      <h2 class="text-3xl xl:text-4xl 2xl:text-5xl">Our expertise in drag and drop builder's</h2>
      <p class="lg:pt-5 pt-3">Our professionals possess the best knowledge of the required technologies used in Sales Funnel design.</p>
    </div>
    <div class="w-full swiper autoPlay relative after:absolute after:block after:w-full after:h-2/3 after:bottom-0 after:-z-10 after:bg-slate-50 dark:after:bg-scalelot-darkPlus dark:after:bg-opacity-50 after:md:rounded-l-3xl">
      <div class="swiper-wrapper">
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/unbounce.svg" alt="unbounce" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              unbounce
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/click-funnels.svg" alt="click-funnels" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              click funnels
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/instapage.svg" alt="instapage" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              instapage
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/hubspot.svg" alt="hubspot" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              hubspot
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/wordpress.svg" alt="wordpress" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              wordpress
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/shopify.svg" alt="shopify" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              shopify
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/kajabi.webp" alt="kajabi" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              kajabi
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/svg/leadpage.svg" alt="leadpage" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              leadpage
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/builder.io.webp" alt="builder.io" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              builder.io
            </h4>
          </div>
        </div>
        <div class="swiper-slide w-36 md:w-[190px] px-4 md:px-8 pt-5">
          <div class="box text-center py-3.5 lg:py-5 group space-y-3">
            <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-white dark:bg-[rgba(255,255,255,0.1)] mx-auto relative img transform group-hover:lg:-translate-y-6 anim">
              <img src="/assets/images/ghl.webp" alt="ghl" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 dark:invert" />
            </div>
            <h4 class="group-hover:text-scalelot-secondary anim text-base lg:text-lg xl:text-xl capitalize">
              ghl
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Web Development Services -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <div class="block w-full">
      <div class="w-full text-center space-y-4 pb-5 md:pb-10">
        <h2 class="text-3xl xl:text-4xl 2xl:text-5xl">More Leads. More Sales. More Automation!</h2>
        <div class="w-full flex items-center justify-center space-x-7 md:hidden">
          <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
            <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
          </div>
          <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
          <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
            <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
          </div>
        </div>
      </div>
      <div class="ourServices_slider swiper">
        <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center">
          <div class="swiper-slide md:h-auto w-full md:w-3/6 xl:w-1/2 p-3.5 px-0 md:px-3.5 h-auto">
            <!-- /services/sales-funnels-design/unbounce-landing-page-development -->
            <a href="#" class="block overflow-hidden group relative shadow-one rounded-2xl h-full">
              <span class="sine anim right-[calc(100%+300px)] group-hover:-right-16 bg-white -translate-y-[50%]"></span>
              <div class="bg-white dark:bg-scalelot-primary h-full rounded-2xl shadow-one py-10 2xl:py-12 px-7 group-hover:bg-scalelot-primary anim">
                <div class="flex items-center mb-5 lg:mb-7">
                  <div class="">
                    <div class="w-16 h-16 md:w-20 md:h-20 xl:w-24 xl:h-24 bg-blue-100 rounded-full flex justify-center items-center">
                      <span class="text-3xl md:text-5xl icon-web-development text-scalelot-dark"></span>
                    </div>
                  </div>
                  <h5 class="font-pop group-hover:text-white pl-5">Brand Awareness</h5>
                </div>
                <div class="pl-0 relative">
                  <p class="group-hover:text-white">Lead generation educates people in your target market about your product and its features, thus creating an opportunity for ‘word of mouth’.</p>
                  <svg class="absolute right-10 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
                    <g data-name="Group 540" transform="translate(-20 -127.369)">
                      <g data-name="Group 541" transform="translate(0 127.369)">
                        <g data-name="Group 540" transform="translate(0 0)">
                          <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide md:h-auto w-full md:w-3/6 xl:w-1/2 p-3.5 px-0 md:px-3.5 h-auto">
            <!-- /services/sales-funnels-design/click-funnels-development -->
            <a href="#" class="block overflow-hidden group relative shadow-one rounded-2xl h-full">
              <span class="sine anim right-[calc(100%+300px)] group-hover:-right-16 bg-white -translate-y-[50%]"></span>
              <div class="bg-white dark:bg-scalelot-primary h-full rounded-2xl shadow-one py-10 2xl:py-12 px-7 group-hover:bg-scalelot-primary anim">
                <div class="flex items-center mb-5 lg:mb-7">
                  <div class="">
                    <div class="w-16 h-16 md:w-20 md:h-20 xl:w-24 xl:h-24 bg-blue-100 rounded-full flex justify-center items-center">
                      <span class="text-3xl md:text-5xl icon-web-app-development text-scalelot-dark"></span>
                    </div>
                  </div>
                  <h5 class="font-pop group-hover:text-white pl-5">Lead Nurturing</h5>
                </div>
                <div class="pl-0 relative">
                  <p class="group-hover:text-white">Through lead nurturing, we help you build prospects in every stage of the buyer’s journey and sales funnel by using the relevant content. This is a very powerful strategy because this gives your brand the opportunity to build trust and credibility with your desired target audience.</p>
                  <svg class="absolute right-10 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
                    <g data-name="Group 540" transform="translate(-20 -127.369)">
                      <g data-name="Group 541" transform="translate(0 127.369)">
                        <g data-name="Group 540" transform="translate(0 0)">
                          <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide md:h-auto w-full md:w-3/6 xl:w-1/2 p-3.5 px-0 md:px-3.5 h-auto">
            <!-- /services/sales-funnels-design/instapage-landing-page-development -->
            <a href="#" class="block overflow-hidden group relative shadow-one rounded-2xl h-full">
              <span class="sine anim right-[calc(100%+300px)] group-hover:-right-16 bg-white -translate-y-[50%]"></span>
              <div class="bg-white dark:bg-scalelot-primary h-full rounded-2xl shadow-one py-10 2xl:py-12 px-7 group-hover:bg-scalelot-primary anim">
                <div class="flex items-center mb-5 lg:mb-7">
                  <div class="">
                    <div class="w-16 h-16 md:w-20 md:h-20 xl:w-24 xl:h-24 bg-blue-100 rounded-full flex justify-center items-center">
                      <span class="text-3xl md:text-[45px] icon-ecommerce text-scalelot-dark"></span>
                    </div>
                  </div>
                  <h5 class="font-pop group-hover:text-white pl-5">Business continuity and growth</h5>
                </div>
                <div class="pl-0 relative">
                  <p class="group-hover:text-white">The top reason why most startups fail in the first 5 years is due to lack of consistent leads. Through a well planned and targeted lead generation strategy, you equip your business with the ability to regularly attract, engage and convert high quality clients.</p>
                  <svg class="absolute right-10 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
                    <g data-name="Group 540" transform="translate(-20 -127.369)">
                      <g data-name="Group 541" transform="translate(0 127.369)">
                        <g data-name="Group 540" transform="translate(0 0)">
                          <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide md:h-auto w-full md:w-3/6 xl:w-1/2 p-3.5 px-0 md:px-3.5 h-auto">
            <!-- /services/sales-funnels-design/hubspot-development -->
            <a href="#" class="block overflow-hidden group relative shadow-one rounded-2xl h-full">
              <span class="sine anim right-[calc(100%+300px)] group-hover:-right-16 bg-white -translate-y-[50%]"></span>
              <div class="bg-white dark:bg-scalelot-primary h-full rounded-2xl shadow-one py-10 2xl:py-12 px-7 group-hover:bg-scalelot-primary anim">
                <div class="flex items-center mb-5 lg:mb-7">
                  <div class="">
                    <div class="w-16 h-16 md:w-20 md:h-20 xl:w-24 xl:h-24 bg-blue-100 rounded-full flex justify-center items-center">
                      <span class="text-3xl md:text-5xl icon-software-development text-scalelot-dark"></span>
                    </div>
                  </div>
                  <h5 class="font-pop group-hover:text-white pl-5">Cost effective</h5>
                </div>
                <div class="pl-0 relative">
                  <p class="group-hover:text-white">Statistics show that over 55% of B2B marketers spend more than half their marketing budget on lead generation. It is more cost effective when compared with conventional advertising strategies as you attract customers in exchange for some valuable content/appeal, rather than disrupting their surfing experience through flashy ads.</p>
                  <svg class="absolute right-10 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
                    <g data-name="Group 540" transform="translate(-20 -127.369)">
                      <g data-name="Group 541" transform="translate(0 127.369)">
                        <g data-name="Group 540" transform="translate(0 0)">
                          <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="text-center mt-0 md:mt-7">
        <button onclick="window.location='/contact-us'" type="button" class="btn-border text-current border-current group anim rounded-full border">
            <span class="bleft anim group-hover:left-0"></span>
            Get Free Quote
            <span class="bright anim group-hover:-right-full"></span>
          </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28 space-y-7 md:space-y-9">
    <h2 class="text-left font-pop">We can help you with the following</h2>
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-1/2 md:pr-7">
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim"> Conversion-Focused Sales Funnel</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Landing / Squeeze / Opt-in funnels (to capture leads)</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Sales Funnel (to sell a product / service)</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Membership Funnel (to sell a members course)</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Webinar Funnel (to do LIVE / recorded webinar)</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 md:pl-7">
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Jeff Walker style effective Product Launch Funnel</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Payment integration (Paypal, Stripe, etc.)</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Autoresponder integration with the double opt-in process</p>
        </div>
        <div class="flex py-1.5">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">»</span>
          <p class="group-hover:text-white anim">Thank You Pages / Download Pages</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Recent work -->
<section class="py-12 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-4k mx-auto py-12 lg:py-16 items-center relative">
    <span class="bg-scalelot-primary dark:bg-opacity-25 backdrop-blur-md absolute inset-0 w-10/12 max-w-screen-xl mx-auto rounded-3xl"></span>
    <div class="text-center w-full relative space-y-2 pb-5 text-white">
      <h2 class="text-center text-white">Our Recent Work</h2>
      <p class="max-w-6xl mx-auto px-12">Checkout our recent design and development works</p>
      <div class="w-full flex items-center justify-center space-x-7">
        <div class="navArrowPrev cursor-pointer hover:text-scalelot-secondary anim"><span class="block text-3xl md:text-4xl lg:text-5xl text-current">&#8592;</span></div>
        <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
        <div class="navArrowNext cursor-pointer hover:text-scalelot-secondary anim"><span class="block text-3xl md:text-4xl lg:text-5xl text-current">&#8594;</span></div>
      </div>
    </div>
    <!-- Swiper -->
    <div class="w-full mx-auto relative mb-5 xl:mb-10">
      <div class="swiper recentWork relative mb-6">
        <div class="swiper-wrapper">
          <!-- ToDo: Make technologies dynamic using map -->
          <!-- ToDo: [IMP] Instead base64 image, get image from /assets/images/dynamicImages-->
          <% portfolios.forEach(function(portfolio){ %>
            <div class="swiper-slide w-11/12 md:w-1/3 lg:w-1/4">
              <a href="javascript:void(0);" 
              onclick='addActiveD("#pop1", "show", "<%= portfolio.title %>", "<%= portfolio.category %>", "<%= portfolio.description %>", "<%= portfolio.files[0] %>", "<%= portfolio.webFramework %>", "<%= portfolio.programmingLanguages %>", "<%= portfolio.miscellaneous %>", "<%= portfolio.libraries %>", "<%= portfolio.uiFrameworks %>", "<%= portfolio.designingLanguage %>", "<%= portfolio.designingTools %>", "<%= portfolio.rating %>", "<%= portfolio.pageLink %>")'
              class="relative group block overflow-hidden text-gray-100 rounded-xl lg:rounded-3xl">
                <span class="bg-gradient-to-t from-scalelot-jpIndigo to-transparent block absolute z-0 inset-0 w-full h-full opacity-100 md:opacity-0 group-hover:opacity-100"></span>
                <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45 bg-white opacity-30 md:opacity-0 group-hover:opacity-30 -right-9 md:right-full group-hover:-right-9 block delay-150"></span>
                <!-- <img src="/assets/images/ourworkimg1.png" class="w-full anim" /> -->
                <img src="/assets/images/dynamic-images/<%= portfolio.files[0] %>" alt="Scalelot Portfolio" class="w-full anim" />
                <div class="absolute inset-x-0 bottom-0 w-full py-4 md:py-8 translate-x-5 md:translate-x-20 pr-7 xl:pr-10 group-hover:translate-x-5 opacity-100 md:opacity-0 group-hover:opacity-100 anim delay-300 flex items-end justify-between">
                  <div class="">
                    <p><%= portfolio.category %></p>
                    <h5 class="font-pop text-white"><%= portfolio.title %></h5>
                  </div>
                  <div class="text-xl whitespace-nowrap"><%= portfolio.rating %> <span class="text-2xl text-yellow-400">&#9733;</span></div>
                </div>
              </a>
            </div>
          <% }) %>
        </div>
        <div class="recentWork-pagination -mb-2"></div>
      </div>
    </div>
    <div class="text-center w-full relative dark">
      <button onclick="window.location='/work/portfolio'" type="button" class="btn-border text-current border-current group anim rounded-full border dark:border-white dark:text-white">
        <span class="bleft anim group-hover:left-0"></span>
        Explore More
        <span class="bright anim group-hover:-right-full"></span>
      </button>
    </div>
  </div>
</section>
<%- include ("../components/portfolio_pop.ejs") %>

<!-- What Our Clients Say section -->
<%- include ("../components/our_clients_say.ejs") %>